<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Message List</title>
</head>
<body>
    {% for msg in messages%}
    <h1>Message {{forloop.counter}}</h1>
    <div>        
        <h3>Recipients</h3>
        {% for recipient in msg.recipient.all %}
            <p>{{forloop.counter}}. {{recipient}}</p>
        {% endfor %}

        <h3>Message Text</h3>
        <p>{{msg}}</p>
    </div>

    {% endfor %}

    <p><a href='/messages/new'>New Message ? </a></p>
    
</body>
</html>